@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #dc2626;
  --color-primary-dull: #b91c1c;
  --color-light: #f1f5f9;
  --color-borderColor: #c4c7d2;
}
